<div class="flex h-[93%] flex-col">
  <div class="my-10 text-7xl text-center">開運！ ラッキ-G</div>
  <div class="text-center">質問に答えると今日のラッキーアイテムがわかります！</div>
  <div class="text-center mt-6" id="top_page"></div>
</div>