<div class="flex h-[93%] flex-col bg-base-200">
  <div class="my-10 text-7xl text-center">占いアプリ Lucky-G</div>
  <div class="text-center"></div>
  <div class="text-center mt-6" id="top_page"></div>
</div>