<div class="flex h-[93%] flex-col">
  <div class="my-10 text-7xl text-center">ラッキ-G!!!</div>
  <div class="text-center">質問に答えて今日のラッキーアイテムを確認しよう！</div>
  <div class="card lg:w-1/3 md:w-1/2 shadow-xl mx-auto bg-base-200">
    <div className="card-body" id="top_page"></div>
  </div>
</div>